
<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <title>..:: GoRurban ::..</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assetsin/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assetsin/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assetsin/css/templatemo-seo-dream.css' %}">
    <link rel="stylesheet" href="{% static 'assetsin/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'assetsin/css/owl.css' %}">
<!--

TemplateMo 563 SEO Dream

https://templatemo.com/tm-563-seo-dream

-->

</head>

<body>




  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <h6>Our Portofolio</h6>
            <h2>Discover Our Recent <em>Projects</em> And <span>Showcases</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
      <div class="row">
        <div class="col-lg-12">
          <div class="loop owl-carousel">
            {% for i in fi %}
            <div class="item">
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{{ i.image.url }}" style="height: 300px; width: 290px;" alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href=""><h4>View More</h4></a>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="portfolio-item">
                <div class="thumb">
                  <img src="{{ i.image2.url }}" style="height: 300px; width: 290px;"  alt="">
                  <div class="hover-content">
                    <div class="inner-content">
                      <a href=""><h4>View More</h4></a>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          
          </div>
        </div>
      </div>
    </div>
  </div>

<div id="features" class="features section">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <h6>News</h6>
            <h2>Discover Our Recent <em>Projects</em> And <span>Showcases</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="features-content">
          <div class="row">
            {% for i in new %}
            <div class="col-lg-3">
              <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s" style="height:300px" >
                <div class="first-number number">
                  <h6>{{ i.Year }}</h6>
                </div>
                <a href="" ><img src="{{ i.image.url }}"  style="border-radius: 25px;height: 300px;width:250px" alt="Related event"></a>
                
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div id="about" class="about-us section">
  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
          <img src="{% static 'assetsin/images/about-left-image.png' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="section-heading">
          <h6>About Us</h6>
          <h2>Top <em>marketing</em> agency &amp; consult your website <span>with us</span></h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <div class="about-item">
              <h4>750+</h4>
              <h6>projects finished</h6>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4">
            <div class="about-item">
              <h4>340+</h4>
              <h6>happy clients</h6>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4">
            <div class="about-item">
              <h4>128+</h4>
              <h6>awards</h6>
            </div>
          </div>
        </div>
        <p><a rel="nofollow" href="https://templatemo.com/tm-563-seo-dream" target="_parent">SEO Dream</a> is free digital marketing CSS template provided by TemplateMo website. You are allowed to use this template for your business websites. Please DO NOT redistribute this template ZIP file on any Free CSS collection websites. You may contact us for more information. Thank you.</p>
        <div class="main-green-button"><a href="#">Discover company</a></div>
      </div>
    </div>
  </div>
</div>

<div id="features" class="features section">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <h6>Events</h6>
            <h2>Discover Our Recent <em>Projects</em> And <span>Showcases</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="features-content">
          <div class="row">
            {% for i in eve %}
            <div class="col-lg-3">
              <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s"  >
                <div class="first-number number">
                  <h6>{{ i.Year }}</h6>
                </div>
                <div >
                <a href="{% url 'events' %}" ><img src="{{ i.image.url }}"  style="border-radius: 25px;height: 300px;;width:250px" alt="Related event"></a>
              </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div id="features" class="features section">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <h6></h6>
            <h2>Our <em>Testimonys</em></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="features-content">
          <div class="row">
            
            <section class="section testimonial-2 gray-bg">
		
	
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-12 testimonial-wrap-2">
                     {% for i in test %}
                    <div class="testimonial-block style-2  gray-bg">
                      <i class="icofont-quote-right"></i>
            
                      <div class="testimonial-thumb">
                        <img src="{{ i.image.url }}" alt="" class="img-fluid">
                      </div>
            
                      <div class="client-info ">
                        <h4>{{ i.name }}</h4>
                        <span>{{ i.position }}</span>
                        <p>
                          {{ i.Detail }}
                        </p>
                      </div>
                    </div>
                    {% endfor %}
                    
                    
                    
            
                  </div>
                </div>
              </div>
            </section>
          
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>




  <!-- Scripts -->
  <script src="{% static 'assetsin/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assetsin/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assetsin/js/owl-carousel.js' %}"></script>
  <script src="{% static 'assetsin/js/animation.js' %}"></script>
  <script src="{% static 'assetsin/js/imagesloaded.js' %}"></script>
  <script src="{% static 'assetsin/js/custom.js' %}"></script>

</body>
</html>