<!DOCTYPE html>
<html lang="zxx">
<head>
	{% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>..:: GoRurban ::..</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'Inside/plugins/bootstrap/css/bootstrap.min.css' %}">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{% static 'Inside/plugins/icofont/icofont.min.css' %}">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="{% static 'Inside/plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'Inside/plugins/slick-carousel/slick/slick-theme.css' %}">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'Inside/css/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body >



	
	
<!-- footer Start -->
<footer class="footer section gray-bg" style="background-color: #0f5233">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<div class="logo mb-4" style="margin-top:-0px">
						<img src="{% static 'images/llo.png' %}" alt="" style="width: 80%;margin-left:0px;" class="img-fluid" >
					</div><br>
					<p style="color: #fff;text-align: left;">A youth movement aiming to create an understanding and sensitivity about the issues of life in the rural environment. creating the combination - RURBAN</p>

					<ul class="list-inline footer-socials mt-4" style="margin-left: 0px;">
						<li class="list-inline-item" ><a href="https://www.facebook.com/banjararide"><i class="icofont-facebook" style="font-size: 20px;"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/banjararide/"><i class="icofont-instagram"  style="font-size: 20px";></i></a></li>
						<li class="list-inline-item"><a href="https://chat.whatsapp.com/DFIIcPaerQ64BkPAHrclNG"><i class="icofont-whatsapp"  style="font-size: 20px"; ></i></a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3" style="color: #fff;font-size: 20px;font-weight: 800px;">Quick Links</h4>
					<div class="divider mb-4"></div>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="{% url 'home' %}" style="font-size: 15px;" >HOME </a></li>
						<li><a href="" style="font-size: 15px;">GALLERY</a></li>
						<li><a href="{% url 'camps' %}" style="font-size: 15px;">CAMPS</a></li>
						<li><a href="{% url 'oppurtunities' %}" style="font-size: 15px;">OPPORTUNITIES</a></li>
						<li><a href="{% url 'contact' %}" style="font-size: 15px;">CONTACT</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3" style="color: #fff;font-size: 20px;font-weight: 800px;">Support</h4>
					<div class="divider mb-4"></div>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="{% url 'about' %}" style="font-size: 15px;">About Us</a></li>
						<li><a href="{%  url 'terms_conditions' %}" style="font-size: 15px;">Terms & Conditions</a></li>
						<li><a href="{%  url 'privacy_policy' %}" style="font-size: 15px;">Privacy Policy</a></li>
						<li><a href="{%  url 'payment_procedure' %}" style="font-size: 15px;">Payment Procodure</a></li>
						<li><a href="{%  url 'privacy_policy' %}" style="font-size: 15px;">FAQuestions</a></li>
						
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3" style="color: #fff;font-size: 20px;font-weight: 800px;">Get in Touch</h4>
					<div class="divider mb-4"></div>

					<div class="footer-contact-block mb-4">
						<div class="icon d-flex align-items-center">
							<i class="icofont-email mr-3" style="color: #fff;"></i>
							<span class="h6 mb-0" style="font-size: 17px;">Support Available for 24/7</span>
						</div>
						<h4  class="mt-2"><a style="color: #fff;" href="info@gorurban.org">info@gorurban.org</a></h4>
					</div>

					<div class="footer-contact-block">
						<div class="icon d-flex align-items-center">
							<i class="icofont-support mr-3" style="color: #fff;"></i>
							<span class="h6 mb-0" style="font-size: 17px;">Mon to Fri : 08:30 - 18:00</span>
						</div>
						<h4  class="mt-2"><a style="color: #fff;" href="099935 55138"> 099935 55138</a></h4>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-btm py-4 mt-5">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-6">
					<div class="copyright" style="font-size: 14px;color: #ffb805;">
						All rights reserved <span class="text-color" style="color: #fff;">Design</span>&<span class="text-color" style="color: #fff;">Developed</span> by <a href="https://www.vistaarwebx.com/" target="_blank" style="color:#fff"><img src="{% static 'images/logos.png' %}" style="width:4%;margin-top:3px;">istaarwebX</a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="subscribe-form text-lg-right mt-5 mt-lg-0">
						<form action="#" class="subscribe">
							<input type="text" class="form-control" placeholder="Your Email address" style="border-radius: 30px;height:60px;margin-left: -1px;">
							<a href="#" class="btn btn-main-2 btn-round-full" style="padding-top:10px;margin-top:-4px;width:150px;height:48px;font-size: 17px;border-radius: 25px;background-color:#0f5233;color:#fff">Subscribe</a>
						</form>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<a class="backtop js-scroll-trigger" href="#top">
						<i class="icofont-long-arrow-up"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>


    
    <!-- Main jQuery -->
    <script src="{% static 'Inside/plugins/jquery/jquery.js' %}"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="{% static 'Inside/plugins/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'Inside/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Inside/plugins/counterup/jquery.easing.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'Inside/plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- Counterup -->
    <script src="{% static 'Inside/plugins/counterup/jquery.waypoints.min.js' %}"></script>
    
    <script src="{% static 'Inside/plugins/shuffle/shuffle.min.js' %}"></script>
    <script src="{% static 'Inside/plugins/counterup/jquery.counterup.min.js' %}"></script>
    <!-- Google Map -->
    <script src="{% static 'Inside/plugins/google-map/map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="{% static 'Inside/js/script.js' %}"></script>
    <script src="{% static 'Inside/js/contact.js' %}"></script>



  </body>
  <script>
	var slideIndex = 1;
	showDivs(slideIndex);
	
	function plusDivs(n) {
	  showDivs(slideIndex += n);
	}
	
	function showDivs(n) {
	  var i;
	  var x = document.getElementsByClassName("mySlides");
	  if (n > x.length) {slideIndex = 1}
	  if (n < 1) {slideIndex = x.length}
	  for (i = 0; i < x.length; i++) {
		x[i].style.display = "none";  
	  }
	  x[slideIndex-1].style.display = "block";  
	}
	</script>
  </html>
   