{% load static %}

 {% include 'frontend/header.html' %}
 <div style="margin-top: -20px;">
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'new_dog_template/images/bann.png' %});" data-stellar-background-ratio="0.5">
      <div class="container" >
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
          	
            <p style="font-weight: 900;font-size: 80px;color:#fff ;text-shadow: 2px 2px 3px black;">Opportunities</p>
          </div>
        
      </div>
    </section>
</div>

<section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb img" style="background-image: url({% static 'new_dog_template/images/11.jpg' %});">
    <div class="overlay"></div>
<div class="container">
    <div class="row d-md-flex justify-content-end">
        <div class="col-md-12 col-lg-6 half p-3 py-5 pl-lg-5 ftco-animate">
            <h2 class="mb-4">Free Consultation</h2>
            <form method="POST" class="appointment">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                            <div class="form-group">
                            <div class="form-field">
                          <div class="select-wrap">
                  <div class="icon"><span class="fa fa-chevron-down"></span></div>
                  <select name="role" id="" class="form-control">
                      <option value="">Select</option>
                    <option value="">Volunteer</option>
                    <option value="">Internship</option>
                    <option value="">Full Time</option>
                  </select>
                </div>
                  </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                  <input type="text" name="fname" required class="form-control" placeholder="First Name">
                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                  <input type="text" name="lname" required class="form-control" placeholder="Last Name">
                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                  <input type="text" name="mob" required class="form-control" placeholder="Mobile No" onkeypress="return event.charCode >= 45 &amp;&amp; event.charCode <= 57 &amp;&amp; event.charCode!=47" required=""  minlength="10" maxlength="10">
                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                  <input type="text" name="age" required class="form-control" placeholder="Age" onkeypress="return event.charCode >= 45 &amp;&amp; event.charCode <= 57 &amp;&amp; event.charCode!=47" required=""  minlength="2" maxlength="2">
                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                  <input type="text" name="email" required class="form-control" placeholder="Email">
                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                  <input type="text" name="add" required class="form-control" placeholder="Address">
                </div>
                        </div>
                       
                        
                        <div class="col-md-12">
                            <div class="form-group">
                  <textarea name="message" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                  <input type="submit" value="Send message" class="btn btn-primary py-3 px-4">
                </div>
                        </div>
                </div>
      </form>
        </div>
    </div>
</div>
</section>



{% include 'frontend/footer.html' %}



  <script src="{% static 'new_dog_template/js/jquery.min.js' %}"></script>
  <script src="{% static 'new_dog_template/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'new_dog_template/js/popper.min.js' %}"></script>
  <script src="{% static 'new_dog_template/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'new_dog_template/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'new_dog_template/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'new_dog_template/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'new_dog_template/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'new_dog_template/js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'new_dog_template/js/jquery.timepicker.min.js' %}"></script>
  <script src="{% static 'new_dog_template/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'new_dog_template/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'new_dog_template/js/scrollax.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{% static 'new_dog_template/js/google-map.js' %}"></script>
  <script src="{% static 'new_dog_template/js/main.js' %}"></script>


    
  </body>
</html>